
.Rproj.user/1CA26A80/sources/s-D5E79D4F/BAE62DF7
.Rproj.user/1CA26A80/sources/s-D5E79D4F/A2FF32A7-contents
.Rproj.user/1CA26A80/sources/s-6A8AE6E6/667DBB5F
.Rproj.user/1CA26A80/sources/prop/4573EF69
.Rproj.user/1CA26A80/sources/s-6A8AE6E6/667DBB5F-contents
.Rproj.user/1CA26A80/sources/s-D5E79D4F/lock_file
.Rproj.user/1CA26A80/sources/s-D5E79D4F/BAE62DF7-contents
.Rproj.user/1CA26A80/sources/s-D5E79D4F/BAE62DF7
.Rproj.user/1CA26A80/sources/s-D5E79D4F/A2FF32A7-contents
.Rproj.user/1CA26A80/sources/s-D5E79D4F/667DBB5F-contents
.Rproj.user/1CA26A80/sources/s-D5E79D4F/667DBB5F
.Rproj.user/1CA26A80/sources/s-6A8AE6E6/lock_file
.Rproj.user/1CA26A80/sources/s-6A8AE6E6/F9A9ACAA-contents
.Rproj.user/1CA26A80/sources/s-6A8AE6E6/E3C11CCB-contents
.Rproj.user/1CA26A80/sources/s-6A8AE6E6/BAE62DF7-contents
.Rproj.user/1CA26A80/sources/s-6A8AE6E6/BAE62DF7
.Rproj.user/1CA26A80/sources/s-6A8AE6E6/A2FF32A7-contents
.Rproj.user/1CA26A80/sources/s-6A8AE6E6/1EDDBCB6-contents
.Rproj.user/1CA26A80/sources/prop/4573EF69
.Rproj.user/1CA26A80/sources/prop/016E69AA
.Rproj.user/1CA26A80/sources/s-D5E79D4F/lock_file
.Rproj.user/1CA26A80/sources/s-D5E79D4F/BAE62DF7-contents
.Rproj.user/1CA26A80/sources/s-D5E79D4F/BAE62DF7
.Rproj.user/1CA26A80/sources/s-D5E79D4F/A2FF32A7-contents
.Rproj.user/1CA26A80/sources/s-D5E79D4F/667DBB5F-contents
.Rproj.user/1CA26A80/sources/s-D5E79D4F/667DBB5F
.Rproj.user/1CA26A80/sources/prop/4573EF69
.Rproj.user/1CA26A80/sources/prop/016E69AA
.Rproj.user/1CA26A80/sources/prop/016E69AA
.Rproj.user/1CA26A80/sources/prop/4573EF69
.Rproj.user/1CA26A80/sources/s-D5E79D4F/667DBB5F
