
.Rproj.user/1CA26A80/sources/s-D5E79D4F/BAE62DF7
.Rproj.user/1CA26A80/sources/s-D5E79D4F/A2FF32A7-contents
.Rproj.user/1CA26A80/sources/s-6A8AE6E6/667DBB5F
.Rproj.user/1CA26A80/sources/prop/4573EF69
.Rproj.user/1CA26A80/sources/s-6A8AE6E6/667DBB5F-contents
.Rproj.user/1CA26A80/sources/s-D5E79D4F/lock_file
.Rproj.user/1CA26A80/sources/s-D5E79D4F/BAE62DF7-contents
.Rproj.user/1CA26A80/sources/s-D5E79D4F/BAE62DF7
.Rproj.user/1CA26A80/sources/s-D5E79D4F/A2FF32A7-contents
.Rproj.user/1CA26A80/sources/s-D5E79D4F/667DBB5F-contents
.Rproj.user/1CA26A80/sources/s-D5E79D4F/667DBB5F
.Rproj.user/1CA26A80/sources/s-6A8AE6E6/lock_file
.Rproj.user/1CA26A80/sources/s-6A8AE6E6/F9A9ACAA-contents
.Rproj.user/1CA26A80/sources/s-6A8AE6E6/E3C11CCB-contents
.Rproj.user/1CA26A80/sources/s-6A8AE6E6/BAE62DF7-contents
.Rproj.user/1CA26A80/sources/s-6A8AE6E6/BAE62DF7
.Rproj.user/1CA26A80/sources/s-6A8AE6E6/A2FF32A7-contents
.Rproj.user/1CA26A80/sources/s-6A8AE6E6/1EDDBCB6-contents
.Rproj.user/1CA26A80/sources/prop/4573EF69
.Rproj.user/1CA26A80/sources/prop/016E69AA
.Rproj.user/1CA26A80/sources/s-D5E79D4F/lock_file
.Rproj.user/1CA26A80/sources/s-D5E79D4F/BAE62DF7-contents
.Rproj.user/1CA26A80/sources/s-D5E79D4F/BAE62DF7
.Rproj.user/1CA26A80/sources/s-D5E79D4F/A2FF32A7-contents
.Rproj.user/1CA26A80/sources/s-D5E79D4F/667DBB5F-contents
.Rproj.user/1CA26A80/sources/s-D5E79D4F/667DBB5F
.Rproj.user/1CA26A80/sources/prop/4573EF69
.Rproj.user/1CA26A80/sources/prop/016E69AA
.Rproj.user/1CA26A80/sources/prop/016E69AA
.Rproj.user/1CA26A80/sources/prop/4573EF69
.Rproj.user/1CA26A80/sources/s-D5E79D4F/667DBB5F
.Rproj.user/1CA26A80/pcs/files-pane.pper
.Rproj.user/1CA26A80/pcs/files-pane.pper
.Rproj.user/1CA26A80/pcs/files-pane.pper
.Rproj.user/1CA26A80/pcs/source-pane.pper
.Rproj.user/1CA26A80/pcs/windowlayoutstate.pper
.Rproj.user/1CA26A80/pcs/workbench-pane.pper
.Rproj.user/1CA26A80/sources/prop/0038C793
.Rproj.user/1CA26A80/sources/prop/247D3F6D
.Rproj.user/1CA26A80/sources/prop/83AA1BEB
.Rproj.user/1CA26A80/sources/prop/A5B9B3E0
.Rproj.user/1CA26A80/sources/prop/INDEX
.Rproj.user/1CA26A80/sources/s-0B9E35D4/FC0DE390
.Rproj.user/1CA26A80/sources/s-0B9E35D4/FC0DE390-contents
.Rproj.user/1CA26A80/sources/s-0B9E35D4/FF812927-contents
.Rproj.user/1CA26A80/sources/s-0B9E35D4/lock_file
.Rproj.user/1CA26A80/sources/s-A03D8020/70E5684E
.Rproj.user/1CA26A80/pcs/files-pane.pper
.Rproj.user/1CA26A80/pcs/source-pane.pper
.Rproj.user/1CA26A80/pcs/windowlayoutstate.pper
.Rproj.user/1CA26A80/pcs/workbench-pane.pper
.Rproj.user/1CA26A80/sources/prop/INDEX
.Rproj.user/1CA26A80/sources/s-0B9E35D4/FF812927
.Rproj.user/1CA26A80/sources/s-A03D8020/70E5684E-contents
.Rproj.user/1CA26A80/sources/s-A03D8020/8D1BA803-contents
.Rproj.user/1CA26A80/sources/s-A03D8020/8D1BA803-contents
.Rproj.user/1CA26A80/pcs/files-pane.pper
*.pper
.Rproj.user/1CA26A80/sources/prop/INDEX
.Rproj.user/1CA26A80/sources/s-A03D8020/lock_file
.Rproj.user/shared/notebooks/paths
*.pper
.Rproj.user/1CA26A80/pcs/files-pane.pper
.Rproj.user/1CA26A80/sources/prop/INDEX
.Rproj.user/1CA26A80/sources/s-A03D8020/8D1BA803
.Rproj.user/shared/notebooks/paths
.Rproj.user/1CA26A80/pcs/files-pane.pper
.Rproj.user/1CA26A80/pcs/source-pane.pper
*.pper
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/CDC88CBB-HABs_wk_email/1/s/chunks.json
.Rproj.user/1CA26A80/sources/s-0B9E35D4/0EB77E7E-contents
.Rproj.user/1CA26A80/sources/s-0B9E35D4/0EB77E7E
.Rproj.user/1CA26A80/sources/s-0B9E35D4/078D639D-contents
.Rproj.user/1CA26A80/sources/s-0B9E35D4/078D639D
.Rproj.user/1CA26A80/sources/prop/INDEX
.Rproj.user/1CA26A80/sources/prop/766CB481
.Rproj.user/1CA26A80/sources/prop/1081804A
.Rproj.user/1CA26A80/pcs/workbench-pane.pper
.Rproj.user/1CA26A80/pcs/windowlayoutstate.pper
.Rproj.user/1CA26A80/pcs/source-pane.pper
.Rproj.user/1CA26A80/pcs/files-pane.pper
.Rproj.user/1CA26A80/pcs/files-pane.pper
.Rproj.user/1CA26A80/pcs/source-pane.pper
.Rproj.user/1CA26A80/pcs/windowlayoutstate.pper
.Rproj.user/1CA26A80/pcs/workbench-pane.pper
.Rproj.user/1CA26A80/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
*.pper
.Rproj.user/1CA26A80/pcs/files-pane.pper
.Rproj.user/1CA26A80/pcs/source-pane.pper
.Rproj.user/1CA26A80/pcs/windowlayoutstate.pper
.Rproj.user/1CA26A80/pcs/workbench-pane.pper
.Rproj.user/1CA26A80/rmd-outputs
.Rproj.user/1CA26A80/sources/prop/1A504828
.Rproj.user/1CA26A80/sources/prop/1CDD21D3
.Rproj.user/1CA26A80/sources/prop/1F0AA091
.Rproj.user/1CA26A80/sources/prop/2C41B6EC
.Rproj.user/1CA26A80/sources/prop/68B88ADA
.Rproj.user/1CA26A80/sources/prop/803A1539
.Rproj.user/1CA26A80/sources/prop/A7FA0E27
.Rproj.user/1CA26A80/sources/prop/AF04660F
.Rproj.user/1CA26A80/sources/prop/INDEX
.Rproj.user/1CA26A80/sources/s-4B0385E2/DC6DE3C2
.Rproj.user/1CA26A80/sources/s-4B0385E2/DC6DE3C2-contents
.Rproj.user/1CA26A80/sources/s-4B0385E2/lock_file
.Rproj.user/1CA26A80/sources/s-5BB02F4D/52133F58
.Rproj.user/1CA26A80/sources/s-5BB02F4D/52133F58-contents
.Rproj.user/1CA26A80/sources/s-5BB02F4D/6C72B005-contents
.Rproj.user/1CA26A80/sources/s-5BB02F4D/865D7345-contents
.Rproj.user/1CA26A80/sources/s-5BB02F4D/99A5810D
.Rproj.user/1CA26A80/sources/s-5BB02F4D/99A5810D-contents
.Rproj.user/1CA26A80/sources/s-5BB02F4D/9C48ADE0-contents
.Rproj.user/1CA26A80/sources/s-5BB02F4D/CB398456-contents
.Rproj.user/1CA26A80/sources/s-5BB02F4D/DA0A499E-contents
.Rproj.user/1CA26A80/sources/s-5BB02F4D/FCBDA154
.Rproj.user/1CA26A80/sources/s-5BB02F4D/FCBDA154-contents
.Rproj.user/1CA26A80/sources/s-5BB02F4D/lock_file
.Rproj.user/shared/notebooks/paths
.Rproj.user/1CA26A80/pcs/files-pane.pper
.Rproj.user/1CA26A80/pcs/source-pane.pper
.Rproj.user/1CA26A80/pcs/windowlayoutstate.pper
.Rproj.user/1CA26A80/pcs/workbench-pane.pper
.Rproj.user/1CA26A80/rmd-outputs
.Rproj.user/1CA26A80/sources/prop/F131287C
.Rproj.user/1CA26A80/sources/prop/INDEX
.Rproj.user/1CA26A80/sources/s-5BB02F4D/865D7345
.Rproj.user/1CA26A80/sources/s-5BB02F4D/8D6698BC-contents
.Rproj.user/1CA26A80/sources/s-5BB02F4D/AECA5EDA-contents
.Rproj.user/1CA26A80/sources/s-5BB02F4D/E4863BBB-contents
.Rproj.user/shared/notebooks/paths
.Rproj.user/1CA26A80/pcs/files-pane.pper
*.pper
.Rproj.user/1CA26A80/rmd-outputs
.Rproj.user/shared/notebooks/paths
.Rproj.user/1CA26A80/sources/prop/INDEX
.Rproj.user/1CA26A80/rmd-outputs
.Rproj.user/1CA26A80/pcs/workbench-pane.pper
.Rproj.user/1CA26A80/pcs/files-pane.pper
.Rproj.user/1CA26A80/pcs/source-pane.pper
.Rproj.user/1CA26A80/pcs/windowlayoutstate.pper
.Rproj.user/1CA26A80/pcs/workbench-pane.pper
.Rproj.user/1CA26A80/persistent-state
.Rproj.user/1CA26A80/rmd-outputs
.Rproj.user/1CA26A80/saved_source_markers
.Rproj.user/1CA26A80/sources/prop/016E69AA
.Rproj.user/1CA26A80/sources/prop/4956FDA3
.Rproj.user/1CA26A80/sources/prop/63B60854
.Rproj.user/1CA26A80/sources/prop/67207C55
.Rproj.user/1CA26A80/sources/prop/6A379D53
.Rproj.user/1CA26A80/sources/prop/76D00BBC
.Rproj.user/1CA26A80/sources/prop/820487EC
.Rproj.user/1CA26A80/sources/prop/9AF3A1F2
.Rproj.user/1CA26A80/sources/prop/A89D03BD
.Rproj.user/1CA26A80/sources/prop/AD43B017
.Rproj.user/1CA26A80/sources/prop/DB029AA1
.Rproj.user/1CA26A80/sources/prop/FF30B285
.Rproj.user/1CA26A80/sources/prop/FF30B285
.Rproj.user/shared/notebooks/paths
.Rproj.user/1CA26A80/sources/s-CB098607/lock_file
.Rproj.user/1CA26A80/sources/s-CB098607/ED9BDEC2-contents
.Rproj.user/1CA26A80/sources/s-CB098607/ED9BDEC2
.Rproj.user/1CA26A80/sources/s-CB098607/18890172-contents
.Rproj.user/1CA26A80/sources/s-CB098607/18890172
.Rproj.user/1CA26A80/sources/prop/INDEX
.Rproj.user/1CA26A80/sources/prop/E4B159E9
.Rproj.user/1CA26A80/sources/prop/D6517279
.Rproj.user/shared/notebooks/paths
.Rproj.user/1CA26A80/pcs/files-pane.pper
.Rproj.user/shared/notebooks/paths
.Rproj.user/1CA26A80/sources/prop/INDEX
.Rproj.user/1CA26A80/sources/prop/016E69AA
.Rproj.user/1CA26A80/saved_source_markers
.Rproj.user/1CA26A80/pcs/files-pane.pper
.Rproj.user/1CA26A80/pcs/source-pane.pper
.Rproj.user/1CA26A80/pcs/windowlayoutstate.pper
.Rproj.user/1CA26A80/pcs/workbench-pane.pper
.Rproj.user/1CA26A80/persistent-state
.Rproj.user/1CA26A80/rmd-outputs
.Rproj.user/1CA26A80/saved_source_markers
.Rproj.user/1CA26A80/sources/prop/016E69AA
.Rproj.user/1CA26A80/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
.Rproj.user/1CA26A80/pcs/files-pane.pper
*.pper
*.pper
*.pper
.Rproj.user/1CA26A80/persistent-state
*.pper
.Rproj.user/1CA26A80/sources/prop/0C88F585
.Rproj.user/1CA26A80/sources/prop/11AACC02
.Rproj.user/1CA26A80/sources/prop/3A31791F
.Rproj.user/1CA26A80/persistent-state
.Rproj.user/1CA26A80/pcs/workbench-pane.pper
.Rproj.user/1CA26A80/pcs/source-pane.pper
*.pper
*.pper
.Rproj.user/1CA26A80/persistent-state
.Rproj.user/1CA26A80/rmd-outputs
.Rproj.user/1CA26A80/saved_source_markers
.Rproj.user/1CA26A80/sources/prop/2E0215A5
.Rproj.user/1CA26A80/sources/prop/016E69AA
.Rproj.user/1CA26A80/sources/prop/1675ED06
.Rproj.user/1CA26A80/sources/prop/4573EF69
.Rproj.user/1CA26A80/sources/prop/604BE9D4
.Rproj.user/1CA26A80/sources/prop/613F4AEC
.Rproj.user/1CA26A80/sources/prop/7889366A
.Rproj.user/1CA26A80/sources/prop/7407A1FF
.Rproj.user/1CA26A80/sources/prop/A8A48086
.Rproj.user/1CA26A80/sources/prop/A96E7207
.Rproj.user/1CA26A80/sources/prop/INDEX
.Rproj.user/1CA26A80/sources/s-A8ED8BF8/8F252B74-contents
.Rproj.user/1CA26A80/sources/s-A8ED8BF8/C67D44CF-contents
.Rproj.user
*.pper
*.pper
.Rproj.user/1CA26A80/rmd-outputs
.Rproj.user/1CA26A80/sources/prop/4573EF69
.Rproj.user/shared/notebooks/paths
.Rproj.user/1CA26A80/pcs/files-pane.pper
.Rproj.user/1CA26A80/pcs/source-pane.pper
.Rproj.user/1CA26A80/pcs/windowlayoutstate.pper
.Rproj.user/1CA26A80/pcs/workbench-pane.pper
.Rproj.user/1CA26A80/rmd-outputs
.Rproj.user/1CA26A80/sources/prop/4573EF69
.Rproj.user/shared/notebooks/paths
.Rproj.user/1CA26A80/pcs/files-pane.pper
.Rproj.user/1CA26A80/pcs/source-pane.pper
.Rproj.user/1CA26A80/pcs/files-pane.pper
.Rproj.user/1CA26A80/pcs/source-pane.pper
.Rproj.user/1CA26A80/pcs/windowlayoutstate.pper
.Rproj.user/1CA26A80/pcs/workbench-pane.pper
.Rproj.user/1CA26A80/rmd-outputs
.Rproj.user/1CA26A80/sources/prop/4573EF69
.Rproj.user/shared/notebooks/paths
.Rproj.user/1CA26A80/sources/prop/4573EF69
.Rproj.user/1CA26A80/sources/prop/4573EF69
.Rproj.user/1CA26A80/sources/prop/016E69AA
.Rproj.user/1CA26A80/sources/prop/4573EF69
.Rproj.user/1CA26A80/pcs/windowlayoutstate.pper
